.navbar {
    background-color: rgb(255, 253, 253);
    .nav-item .nav-link{
        color: orange;
    }

    .navbar-brand {
        color: rgb(174, 123, 27);
    }

    .contacto .nav-link {
        color: orange;
    }

    .titulos .nav-link {
        color: orange;
    }

    .dropdown-menu .dropdown-item {
        color: orange;

    }

    .nav-item .nav-link {
        color: orange;

    }
}