* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

#hero {
    height: 200vh;
    background-color: rgba(12, 12, 12, 0.548);
    background-size:contain;
    background-position: center center;
    box-sizing: content-box;


    .h1d {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: rgb(160, 85, 14);
        font-size: 50px;
    }

    .pd {
        text-align: center;
        flex-direction: column;
        color: rgb(247, 246, 245);
        font-size: 25px;
        padding: 5px;


    }

    .botoncontact {
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: rgb(3, 2, 2);
        background-color: rgb(181, 143, 99);

    }

    .botton {
        display: flex;
        justify-content: center;

    }

    a {
        color: black;
    }

}




#nuevos-lanzamientos {
    background-color: rgb(230, 225, 225);
    color: rgb(230, 225, 225);
    text-align: center;
    padding: 20px;


    .carta {
        padding: 10px;
        margin-top: 20px;
        justify-content: center;

    }

    .card {
        display: flex;
    }

    h5 {
        color: black;
    }

    p {
        color: black;
    }
    h2{
        background-color: rgba(67, 55, 55, 0.731);
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }



}

.carta:hover {
    cursor: pointer;
    background-color: rgb(86, 28, 141);
    transform: translateY(-15px);

}


#novedades {
    background-color: rgb(220, 210, 210);
    color: white;
    text-align: center;

    .container {
        padding: 30px 12px;
    }

    .video {
        background-position: center center;
        margin: 30px;
        border-radius: 15px;
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
    }

    .title2 {
        background-color: rgba(67, 55, 55, 0.731);
        color: black
    }
}

@import "footer";
@import "navbar"