* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

#hero {
  height: 200vh;
  background-color: rgba(12, 12, 12, 0.548);
  background-size: contain;
  background-position: center center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#hero .h1d {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a0550e;
  font-size: 50px;
}

#hero .pd {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f7f6f5;
  font-size: 25px;
  padding: 5px;
}

#hero .botoncontact {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #030202;
  background-color: #b58f63;
}

#hero .botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .botton a {
  color: black;
}

#nuevos-lanzamientos {
  background-color: #e6e1e1;
  color: #e6e1e1;
  text-align: center;
  padding: 20px;
}

#nuevos-lanzamientos .carta {
  padding: 10px;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nuevos-lanzamientos .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nuevos-lanzamientos h5 {
  color: black;
}

#nuevos-lanzamientos p {
  color: black;
}

#nuevos-lanzamientos h2 {
  background-color: rgba(67, 55, 55, 0.731);
  color: black;
  text-transform: uppercase;
}

.carta:hover {
  cursor: pointer;
  background-color: #561c8d;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#novedades {
  background-color: #dcd2d2;
  color: white;
  text-align: center;
}

#novedades .container {
  padding: 30px 12px;
}

#novedades .video {
  background-position: center center;
  margin: 30px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#novedades .title2 {
  background-color: rgba(67, 55, 55, 0.731);
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  margin: auto;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.footer {
  background-color: black;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h6 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h6::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffff;
  padding-left: 8px;
}

.footer-col .social-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links i:hover {
  color: #24262b;
  background-color: #ffff;
}

.footer li {
  color: white;
}

/*resposive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.navbar {
  background-color: #fffdfd;
}

.navbar .nav-item .nav-link {
  color: orange;
}

.navbar .navbar-brand {
  color: #ae7b1b;
}

.navbar .contacto .nav-link {
  color: orange;
}

.navbar .titulos .nav-link {
  color: orange;
}

.navbar .dropdown-menu .dropdown-item {
  color: orange;
}

.navbar .nav-item .nav-link {
  color: orange;
}
/*# sourceMappingURL=estilostodos.css.map */