* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;


}

$tamanos: (h1:35px,
    h2:28px,
    h3:20px,
    h4:11px,
    h5:18px,
    h6:5px,
);


$h1: map-get($tamanos, h1);

h1 {
    font-size: $h1;

}

$h2: map-get($tamanos, h2);

h2 {
    font-size: $h2;
    color: #333;
    background-color: rgba(51, 51, 51, 0.037);
}

$h3: map-get($tamanos, h3);

h3 {
    font-size: $h3;

}

$h4: map-get($tamanos, h4);

h4 {
    font-size: $h4;

}

$h5: map-get($tamanos, h5);

h5 {
    font-size: $h5;

}

$h6: map-get($tamanos, h6);

h6 {
    font-size: $h6;

}

@media(max-width:450px) {
    #hero .pd {
        font-size: 10px;
    }


}

#hero {
    height: cover;
    width: cover;
    background-color: rgba(12, 12, 12, 0.548);
    background-size: contain;
    background-position: center center;
    box-sizing: content-box;

    .pd {
        text-align: center;
        flex-direction: column;
        color: rgb(247, 246, 245);
        font-size: 25px;
        padding: 5px;


    }

    .botoncontact {
        font-size: 1.7rem;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: rgb(3, 2, 2);
        background-color: rgb(181, 143, 99);
        

    }

    .botton {
        display: flex;
        justify-content: center;

    }

    .botton a {
        color: black;
    }
    .botoncontact:hover{
        cursor: pointer;
        transform: translateY(-15px);
    }

    }






#nuevos-lanzamientos {
    background-color: rgb(230, 225, 225);
    color: rgb(230, 225, 225);
    text-align: center;
    padding: 20px;


    .carta {
        padding: 10px;
        margin-top: 20px;
        justify-content: center;

    }

    .card {
        display: flex;
    }

    h5 {
        color: black;
    }

    p {
        color: black;
    }



}

.carta:hover {
    cursor: pointer;
    background-color: rgb(86, 28, 141);
    transform: translateY(-15px);

}


#novedades {
    background-color: rgb(220, 210, 210);
    color: white;
    text-align: center;

    .contsiner {
        padding: 30px 12px;
    }

    .video {
        background-position: center center;
        margin: 30px;
        border-radius: 15px;
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
    }


}

@media(min-width:250px) {
    .fieldset {
        width: 100%;
        height: 100%;
    }

    .contenedorDiv {
        font-size: 1rem;
    }


}

@media(max-width:480px) {
    .conteiner {
        width: 100%;
    }


    .campo label {
        color: rgb(1, 1, 1);
        font-weight: bold;
        margin-bottom: .5rem;
        padding-left: 2rem;
        font-size: 0.75rem;
        display: block;
    }

    .pc {
        font-size: 1em;
    }

    .ulc {
        list-style: none;
    }

    .lic {
        font-size: 0.5em;
    }


    .conteiner {
        max-width: 1400px;
        margin: auto;
    }






    .item {
        background-color: rgb(186, 166, 123);
        border: 1px dashed yellow;

    }

    .titulos {
        border: 3px solid rgb(255, 255, 255);
        display: grid;
        grid-column-gap: 2%;
        grid-row-gap: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }



html {
    scroll-behavior: smooth;
}

}

.forma {
    background-color: rgba(225, 255, 255, 0.1);
    border-radius: 2rem;
    box-shadow: 7px 13px 37px;
    position: relative;
    overflow: hidden;
    margin: 2rem 0 0 0;

    fieldset {
        border: none;
        padding: 2rem;
    }

    .campo {
        margin-bottom: 1rem;
    }

    label {
        color: rgb(1, 1, 1);
        font-weight: bold;
        margin-bottom: .5rem;
        padding-left: 2rem;
        font-size: 2rem;
        display: block;
    }

    input {
        background-color: rgba(62, 148, 148, 0.15);
        width: 100%;
        border: none;
        border-radius: 2rem;
        height: 3rem;
        color: rgb(0, 0, 0);
        text-align:center;
        font-weight: 900;
        font-size: 2rem;
            
    }

    .botona {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonPrinciapal {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        width: 40%;
        color: aliceblue;
        font-size: 1rem;
        border-radius: 2rem;
        margin: 2rem 0 0 0;
        height: 3rem;
        font-weight: 700;
        background-color: rgb(67, 67, 180);

    }

    .nombre {
        font-size: 15px;
    }

    .email {
        font-size: 15px;
    }

    .telefono {
        font-size: 15px;
    }

    .contrasena {
        font-size: 15px;
    }
}

input::placeholder {
    color: rgba(6, 6, 6, 0.74);
    padding-left: 2rem;

}

input:hover {
    background-color: rgba(238, 229, 229, 0.34);

}




@media(min-width:768px) {
    input::placeholder {
        color: rgba(6, 5, 5, 0.242);
        padding-left: 2rem;
    }

    .botonPrinciapal {
        width: 90%;
        height: 3rem;
    }
}


.botonPrinciapal:hover {
    cursor: pointer;
    color: rgba(6, 0, 12, 0.973);
}

form::before {
    content: '';
    position: absolute;
    justify-content: center;
    height: 100%;

    animation: mover 3s linear infinite;
}

.forme {
    width: 458px;
    margin: auto;
    background: rgb(230, 206, 206);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;

    input,
    select,
    .textareaa {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 10px;
        border: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .pe {
        font-size: 17px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-boxS;
        color: rgb(2, 2, 2);
    }

    .textareaa {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    #buttone {
        background-color: rgb(103, 37, 236);
        color: #fff;
        padding: 20px;
    }


}


#buttone:hover {
    cursor: pointer;
}

@media(max-width:480px) {
    .forme {
        width: 100%;
        height: 100%;
    }

    .pe {
        font-size: 1em;
    }

    textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    #buttone {
        background-color: rgb(103, 37, 236);
        color: #fff;
        padding: 20px;
    }

    #button:hover {
        cursor: pointer;
    }

    .conteiner {
        max-width: 1400px;
        margin: auto;
    }
}


.card {
    margin: 10px 0;
}


@media(max-width:380px) {
    .conteiner {
        width: 100%;
    }
}



iframe {
    border-radius: 3px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    float: none;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(5, 5, 5, 0.2);
}

.card {
    margin: 10px 0;
}

@import "footer";
@import "navbar"